@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


body {
  font-family: 'Roboto', sans-serif; 
}

input::placeholder {
    color: #777;
}

.logo-text {
    font-weight: 700;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.logo-text:after {
    content: '+';
}

.hero-img {
    padding: 100px 50px;
    min-width: 200px;
    max-width: 400px;
}

.heading-container {
    padding: 0px 50px;
}

#search-row {
    display: none;
}

#no-results {
    margin: 45px 0px 0px 0px;
    text-align: center;
    display: none;
}

.search-container {
    padding: 100px 50px;
}

.title {
    font-weight: 900;
    font-size: 50px;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
}

#location-results {
    display: none;
    margin-top: 50px;
}

.location-container {
    padding: 35px;
}

.location-title {
    font-weight: 700;
    font-size: 18px;
}

.location-action {
    margin-top: 10%;
}

.location-action a {
    margin-right: 20px;
}

#results {
    display: none;
}

.card-margin {
    margin-bottom: 90px;
}

.product-image {
    padding: 50px;
}

.product-details {
    padding: 50px;
    margin-top: 50px;
}

.product-title {
    font-weight: 700;
    font-size: 24px;
}

.product-description {
    font-weight: 400;
    font-size: 15px;
}

.product-action {
margin-top: 20px;
}

.product-action a {
    margin-right: 20px;
}

.modalpromo {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modalpromo-content {
    background-color: #43a047 ;
    border-radius: 10px;
    color: #fff;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    box-shadow: 0 8px 6px -6px #1e4620 ;
  }
  
  .close-modal {
    color: #fff;
    float: right;
    font-size: 28px;
    margin-top: -15px;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }

  .price {
      font-weight: bold;
  }

@media only screen and (max-width: 600px) {
    .search-container {
        padding: 100px 0px 50px 0px;
    }

    .location-container {
        padding: 25px;
    }
    
    .location-title {
        font-weight: 700;
        font-size: 16px;
    }
    
    .location-action {
        margin-top: 13%;
    }

    .location-action a {
        margin-right: 10px;
    }

    .card-margin {
        margin-bottom: 50px;
    }
    
    .product-image {
        width: 100%;
        padding: 50px;
    }
    
    .product-details {
        padding: 20px;
        margin-top: 0px;
    }
    
    .product-title {
        font-weight: 700;
        font-size: 22px;
    }
    
    .product-description {
        font-weight: 400;
        font-size: 14px;
    }
    
    .product-action {
    margin-top: 30px;
    margin-bottom: 60px;
    }
    
    .product-action a {
        margin-right: 20px;
    }
}

